<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>One Piece Characters</title>
  <style>
    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
    }
    th, td {
      padding: 12px;
      border: 1px solid #ccc;
      text-align: left;
    }
    th {
      background-color: #f4a261;
    }
    tr:nth-child(even) {
      background-color: #fdf5e6;
    }
  </style>
</head>
<body class="main">
<header class="head">
  <div id="banner"></div>
  <div class="butts" id="butts">
    <h1 class="title">
      One Piece Wiki
    </h1>
    <br>
    <div class="butts1">
      <a href="admin-main">
        Main page
      </a>
      <a href="admin-contact">
        Contacts
      </a>
      <a href="admin-about">
        About
      </a>
      <a href="admin-characters">
        <abbr title="Ovdje">
          Characters
        </abbr>
      </a>
      <a href="admin-fruits">
        Fruits
      </a>
      <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
      </form>
    </div>
  </div>
</header>
<a th:if="${!fruitFilter}" href="/admin-characters/with-fruits">
  Fruit users
</a>
<a th:if="${!noFruitFilter}" href="/admin-characters/without-fruits">
  Non Fruit users
</a>
<a th:if="${fruitFilter or noFruitFilter}" href="/admin-characters">
  Show all characters
</a>
  <h1 style="text-align:center;">One Piece Characters</h1>

<form action="#" th:action="@{admin-characters/submit}" method="post">
  <input type="text" name="name" />
  <input type="text" name="chapterIntroduced" />
  <input type="text" name="episodeIntroduced" />
  <input type="text" name="yearIntroduced" />
  <input type="text" name="note" />
  <button type="submit">Submit</button>
</form>

  <table id="chars">
    <thead>
    <tr>
      <th>Name</th>
      <th>Chapter Introduced</th>
      <th>Episode Introduced</th>
      <th>Year Introduced</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="character : ${characterList}">
      <td th:text="${character.getName()}">1</td>
      <td th:text="${character.getChapterIntroduced()}">Monkey D. Luffy</td>
      <td th:text="${character.getEpisodeIntroduced()}">Gomu Gomu no Mi</td>
      <td th:text="${character.getYearIntroduced()}">Captain</td>
      <td th:text="${character.getNote()}">Captain</td>
    </tr>
    </tbody>
  </table>
</body>
</html>
