<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="One Piece Wiki">
    <meta name="keywords" content="One Piece, Luffy, Anime, Manga">
    <meta name="author" content="Matej Miklin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece - wiki</title>
    <link rel="icon" type="image/png" th:href="@{/images/icon.png}">
    <link rel="stylesheet" media="screen"  th:href="@{/css/pretty.css}">
</head>
<body class="main">
    <header class="head">
        <div id="banner"></div>
        <div class="butts" id="butts">
            <h1>
                One Piece Wiki
            </h1>
            <br>
            <div class="butts1">
                <a href="admin-main">
                    <abbr title="ovdje">
                        Main page
                    </abbr>
                </a>
                <a href="admin-contact">
                    Contacts
                </a>
                <a href="admin-about">
                    About
                </a>
                <a href="admin-characters">
                    Characters
                </a>
                <a href="admin-fruits">
                    Fruits
                </a>
                <a href="api/character/all">
                    Store
                </a>
            </div>
        </div>
    </header>
    <nav style="margin-bottom: 5vh;" class="mainnav">
        <a href="#op">
            One Piece
        </a>
        <a href="#manga">
            Manga
        </a>
        <a href="#anime">
            Anime
        </a>
        <a href="#story">
            Priča
        </a>
        <a href="#jokes">
            Šale
        </a>
        <a href="#chars">
            Likovi
        </a>
    </nav>
    <article>
        <section id="op" class="sec">
            <h2>
                Što je One Piece
            </h2>
            <div id="op_img"></div>
            <p>
                One Piece je dugotrajni ep autora Eiichira Ode <a href="children/about.html"><abbr title="Oda Eiichirō">(jap. 尾田 栄一郎)</abbr></a>
                izvorno započet kao manga 1997. Serijalizacija je započeta 22. 7. 1997. u <q>Weekly Shōnen Jump</q> časopisu
                s ciljanom demografijom tinejdžerskih dječaka. Zbog velikog uspjeha serijalizacije mange, One Piece 1999.
                godine dobiva anime prilagodbu koja prošlih 25 godina dobiva novu epizodu svaki tjedan, bez iznimke. Nakon
                skoro 30 godina, bilo bi za očekivati da interes za One Piece polako pada, no to nije slučaj. Štoviše, svake
                godine interes raste do novih visina. Prošle godine Netflix je financirao serijsku (live-action) prilagodbu,
                koju su gledatelji obožavali. Još je zanimljivije da je u produkciji i druga animirana prilagodba, koja
                će se fokusirati na smanjivanje broja epizoda kako bi se novi gledatelji mogli lakše uključiti u One Piece
                svijet.
            </p>
        </section>
        <section id="manga" class="sec">
            <h2>
                Manga
            </h2>
            <div id="vol1"></div>
            <p>
                Kao što je već spomenuto u ranijem paragrafu, One Piece manga započela je serijalizaciju 22. 7. 1997. u
                <q>Weekly Shōnen Jump</q> časopisu, no sama ideja je postojala već 1996. U to vrijeme Oda je napisao dvije
                samostalne priče pod nazivom <q>Romance Dawn</q>, što će kasnije postati naziv prvog poglavlja mange i prvog
                svežnja poglavlja. Prva kratka priča objavljena je u kolovozu 1996. u <q>Akamaru Jump</q> časopisu. Druga je
                objavljena u 41. izdanju <q>Weekly Shōnen Jump</q> časopisa. Zapanjujuće je da je tvrtka koja posjeduje
                <q>Weekly Shōnen Jump</q> časopis odbila ideju serijalizacije One Piece mange čak tri puta prije popuštanja i
                serijaliziranja mange. U trenutku pisanja ovog paragrafa, One Piece manga sastoji se od 1112 poglavlja.
                Čak 1094 ih je sastavljeno u ukupno 108 svežanja koji su u prodaji. Još je bitno napomenuti da je One
                Piece na prvom mjestu u godišnjem poretku broja prodanih kopija od 2008. kada je Oricon grupa počela
                pratiti prodaju.
            </p>
        </section>
        <section id="anime" class="sec">
            <h2>
                Anime
            </h2>
            <div id="one-piece"></div>
            <p>
                Prva epizoda animirane prilagodbe One Piece priče emitirana je 20. 10. 1999., i trenutno se sastoji od
                1101 epizode (epizoda 1102 će biti emitirana 28. 4. 2024.). Tijekom tog vremena, stil animacije se
                promijenio nekoliko puta, no najznačajnija promjena dogodila se u 1089. epizodi, početkom prlagodbe trenutnog
                dijela priče, za koji se sluti da je početak finala epske pustolovine. Sama animirana prilagodba dobiva
                vrlo dobre recenzije posljednjih 25 godina, s prosjekom ocjena koji se kreće između 87% i 89%, što je vrlo
                dobro u usporedbi s drugim animiranim prilagodbama.
            </p>
        </section>
        <section id="story" class="sec">
            <h2>
                Priča
            </h2>
            <div id="exec"></div>
            <p>
                Nakon 3 paragrafa, napokon dolazimo do One Piece priče. Priča je, osim likova, najbolja odlika One Piece
                kvalitete. 20 godina prije početka glavne priče, ubijen je Gol D. Roger, čovjek koji je dobio sve što
                svijet može ponuditi; bogatstvo, slavu i moć, zbog čega je proglašen kraljem gusara. Svojim zadnjim riječima
                proglasio je kako je ostavio sve svoje blago na moru i da ga može uzeti tko god želi, što je započelo
                <q>Veliko gusarsko doba</q>, drugim riječima, zlatno doba za sve gusare. Rogerove riječi u mnogima su potaknule
                žudnju za titulom kralja gusara, no samo glavni lik priče je utjelovljenje svega što je Roger predstavljao.
                Glavni lik, Monkey D. Luffy želi postati kralj gusara kako bi ispunio obećanja svojem bratu i svojem uzoru.
                Tijekom svojeg putovanja, Luffy pomaže mnogim ljudima i skuplja savršenu posadu za svoj brod.
            </p>
            <blockquote cite="https://onepiece.fandom.com/wiki/Opening_Narration#Roger's_Opening" type="left">
                Narrator: Wealth, fame, power. Gold Roger, the King of the Pirates, attained everything this world has
                to offer. And so, many men head for the Grand Line to find the great treasure he left behind, the One
                Piece. The world has truly entered a Great Pirate Era! Wearing the straw hat sworn upon him by the great
                pirate Shanks, Monkey D. Luffy heads out to the sea on a journey on the road to become King of the Pirates!
            </blockquote>
        </section>
        <section id="jokes" class="sec">
            <h2>
                Česte šale u zajednici
            </h2>
            <p>
                Nakon 25 godina, One Piece ima velik broj šala unutar zajednice, no ovdje ćemo istaknuti samo tri najzanimljivije.
            </p>
            <div>
                <h3>
                    Zoro je rasist
                </h3>
                <p>
                    Jedna od čestih šala je da je jedan od glavnih likova, Zoro, zapravo rasist. Jedini razlog za to je
                    činjenica da u zadnje vrijeme ima podosta neprijatelja s tamnijim tonom kože.
                </p>
            </div>
            <div>
                <h3>
                    Sve žene izgledaju isto
                </h3>
                <p>
                    Ova šala proizlazi iz činjenice da autor koristi isti dizajn za većinu ženskih likova. Naime, to je
                    zbog načina na koji je upoznao svoju ženu. Chiaki Inaba <abbr title="Inaba Chiaki">(jap. 稲葉ちあき)</abbr>
                    u prošlosti je bila model. U 2002. se na <q>Jump Festa 2002</q> događaju pojavila obučena kao
                    Nami, lik iz One Piece-a. Nakon toga, Oda bazira gotovo svaki dizajn za ženske likove na njenom izgledu.
                </p>
            </div>
            <div>
                <h3>
                    Nami je najjača osoba u priči
                </h3>
                <p>
                    Ovo je vjerojatno istinito, s obzirom na činjenicu da se Nami može suprotstaviti likovima koji
                    su među najjačima u priči i poniziti ih.
                </p>
            </div>
        </section>
        <table width="1800px" id="chars" style="margin: 0 auto;">
            <tr>
                <td colspan="6" style="font-size: 30px; font-weight: bold;">
                    Bitni likovi
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    <div id="luffy"></div>
                </td>
                <td colspan="1">
                    <div id="shanks"></div>
                </td>
                <td colspan="1">
                    <div id="roger"></div>
                </td>
                <td colspan="1">
                    <div id="zoro"></div>
                </td>
                <td colspan="1">
                    <div id="nami"></div>
                </td>
                <td colspan="1">
                    <div id="ace"></div>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    Monkey D. Luffy je glavni lik u priči i kapetan svoje posade. Želi postati kralj gusara.
                </td>
                <td>
                    Shanks je Luffy-ev uzor. Jedan je od najuspješnijih gusara u priči. Velik broj ljudi ga poštuje, još
                    veći broj ljudi ga se boji.
                </td>
                <td>
                    Gol D. Roger je jedini kralj gusara u povijesti. Njegova posada je jedina pronašla otok na kojem se
                    nalazi One Piece.
                </td>
                <td>
                    Zoro Roronoa je Luffy-eva desna ruka. Prvi se pridružio njegovoj posadi. Želi postati najbolji
                    mačevalac u svijetu.
                </td>
                <td>
                    Nami je kartografkinja u Luffy-evoj posadi. Ima opsežno znanje o topologiji i klimatskim pojavama.
                </td>
                <td>
                    Portgas D. Ace je Luffy-ev stariji brat. Proveo je mnogo vremena u Newgate-ovoj posadi.
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    <div id="newgate"></div>
                </td>
                <td colspan="1">
                    <div id="big_mom"></div>
                </td>
                <td colspan="1">
                    <div id="teech"></div>
                </td>
                <td colspan="1">
                    <div id="kaido"></div>
                </td>
                <td colspan="1">
                    <div id="marco"></div>
                </td>
                <td colspan="1">
                    <div id="mihawk"></div>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    Edward Newgate bio je Rogerov rival. Mnogi su govorili da je on jedini čovjek dostojan naslijediti
                    titlu kralja gusara.
                </td>
                <td colspan="1">
                    Charlotte Linlin je jedna od osoba najbližih pronalaženju Rogerovog blaga. Cijeni svoju obitelj iznad
                    svega ostalog.
                </td>
                <td colspan="1">
                    Marshall D. Teech je trenutno najzloglasniji gusar u svijetu. Poznat je zbog svoje nemilosrdnosti.
                </td>
                <td colspan="1">
                    Kaido je kralj zvijeri. Mnogi tvrde da ne postoji osoba koja ga može poraziti u bitci.
                </td>
                <td colspan="1">
                    Marco je Newgate-ova desna ruka. Ima snažan osjećaj dužnosti prema svojem kapetanu.
                </td>
                <td colspan="1">
                    Dracule Mihawk je najbolji mačevalac u svijetu. Čeka dan kad će se popjaviti netko tko je na
                    njegovoj razini.
                </td>
            </tr>
        </table>
    </article>
    <footer>
        <h3>
            Matej Miklin, 0246122414
        </h3>
    </footer>
</body>
</html>