<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="title" content="Contacts">
  <meta name="keywords" content="One Piece, Characters, Character">
  <meta name="author" content="Matej Miklin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One Piece Characters</title>
  <link rel="icon" type="image/png" th:href="@{/images/icon.png}">
  <link rel="stylesheet" media="screen"  th:href="@{/css/pretty.css}">
</head>
<body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const optionSelect = document.getElementById("option");
    const name = document.getElementById("name");
    const chapterIntroduced = document.getElementById("chapterIntroduced");
    const episodeIntroduced = document.getElementById("episodeIntroduced");
    const yearIntroduced = document.getElementById("yearIntroduced");
    const note = document.getElementById("note");

    function updateRequiredFields() {
      const action = optionSelect.value;

      name.required = false;
      chapterIntroduced.required = false;
      episodeIntroduced.required = false;
      yearIntroduced.required = false;
      note.required = false;


      if (action === "Add") {
        name.required = true;
        chapterIntroduced.required = true;
        episodeIntroduced.required = true;
        yearIntroduced.required = true;
        note.required = true;
      } else if (action === "Patch") {
        name.required = true;
      } else if (action === "Delete") {
        name.required = true;
      } else if (action === "Scrape") {}
    }

    optionSelect.addEventListener("change", updateRequiredFields);

    updateRequiredFields();
  });
</script>
<header class="head">
  <div id="banner"></div>
  <div class="butts" id="butts">
    <h1 class="title">
      One Piece Wiki
    </h1>
    <br>
    <div class="butts1">
      <a href="admin-main">
        Main page
      </a>
      <a href="admin-contact">
        Contacts
      </a>
      <a href="admin-about">
        About
      </a>
      <a href="admin-characters">
        <abbr title="Ovdje">
          Characters
        </abbr>
      </a>
      <a href="admin-fruits">
        Fruits
      </a>
      <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
      </form>
    </div>
  </div>
</header>
<nav id="odanav">
  <ul>
    <li>
      <div>
        <a th:if="${!fruitFilter}" href="/admin-characters/with-fruits">
          Fruit users
        </a>
      </div>
    </li>
    <li>
      <div>
        <a th:if="${!noFruitFilter}" href="/admin-characters/without-fruits">
          Non Fruit users
        </a>
      </div>
    </li>
    <li>
      <div>
        <a th:if="${fruitFilter or noFruitFilter}" href="/admin-characters">
          Show all characters
        </a>
      </div>
    </li>
  </ul>
</nav>
<h1 style="text-align:center;">One Piece Characters</h1>

<section class="form_sec">
  <div class="form_bg"></div>
  <form class="contact-form" th:action="@{/admin-characters/save}" method="post">
    <input type="hidden" name="searchName" th:value="${searchName}" />
    <table>
      <tr>
        <td>
          <div>
            <strong>
              <label>
                Name:
              </label>
            </strong>
          </div>
        </td>
        <td>
          <input type="text" name="name" id="name"/>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <strong>
              <label>
                Chapter introduced:
              </label>
            </strong>
          </div>
        </td>
        <td>
          <input type="text" name="chapterIntroduced" id="chapterIntroduced"/>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <strong>
              <label>
                Episode introduced:
              </label>
            </strong>
          </div>
        </td>
        <td>
          <input type="text" name="episodeIntroduced" id="episodeIntroduced"/>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <strong>
              <label>
                Year introduced:
              </label>
            </strong>
          </div>
        </td>
        <td>
          <input type="text" name="yearIntroduced" id="yearIntroduced"/>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <strong>
              <label>
                Note:
              </label>
            </strong>
          </div>
        </td>
        <td>
          <input type="text" name="note" id="note"/>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <strong>
              <label>
                Action to perform:
              </label>
            </strong>
          </div>
        </td>
        <td>
          <select id="option" name="option" required>
            <option value="Add" selected>
              Add
            </option>
            <option value="Patch">
              Update
            </option>
            <option value="Delete">
              Delete
            </option>
            <option value="Scrape">
              Scrape
            </option>
            <option value="FindWithName">
              Find with name
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="button" value="Back to All Characters" th:onclick="'window.location.href=\'' + @{/admin-characters} + '\''" />
        </td>
        <td>
          <input type="submit" value="Perform"/>
        </td>
      </tr>
    </table>
  </form>
</section>
<br>
  <table id="chars" class="chars">
    <thead>
    <tr>
      <th>Name</th>
      <th>Chapter Introduced</th>
      <th>Episode Introduced</th>
      <th>Year Introduced</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="character : ${characterList}">
      <td th:text="${character.getName()}">1</td>
      <td th:text="${character.getChapterIntroduced()}">Monkey D. Luffy</td>
      <td th:text="${character.getEpisodeIntroduced()}">Gomu Gomu no Mi</td>
      <td th:text="${character.getYearIntroduced()}">Captain</td>
      <td th:text="${character.getNote()}">Captain</td>
    </tr>
    </tbody>
  </table>

<footer>
  <h3>
    Matej Miklin, 0246122414
  </h3>
</footer>
</body>
</html>
