<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="One Piece News">
    <meta name="keywords" content="One Piece, Luffy, Eiichiro Oda, Mangaka, Manga">
    <meta name="author" content="Matej Miklin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="icon" type="image/png" href="../images/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href="../pretty.css">
</head>
<body class="news">
    <header class="head col-12 container-fluid row" style="padding-bottom: 25px;">
        <div class="col-2" id="banner"></div>
        <div class="butts col-10 column">
            <h1 class="offset-4 col-8">
                One Piece Wiki
            </h1>
            <br>
            <div class="justify-content-center container-fluid row">
                <a href="../characters.html" class="col-sm-2 col-xs-12 justify-content-center">
                    Main page
                </a>
                <a href="contact.html" class="col-sm-2 col-xs-10 justify-content-center">
                    Contacts
                </a>
                <a href="about.html" class="col-sm-2 col-xs-10 justify-content-center">
                    About
                </a>
                <a href="news.html" class="col-sm-2 col-xs-10 justify-content-center">
                    <abbr title="ovdje">
                        News
                    </abbr>
                </a>
                <a href="store.html" class="col-sm-2 col-xs-10 justify-content-center">
                    Store
                </a>
            </div>
        </div>
    </header>
    <section class="sec" style="float: right; display: flex; flex-direction: column; margin-right: 20px;">
        <a href="#">
            Novo poglavlje
        </a>
        <a href="#">
            Otkrivanje lika
        </a>
        <a href="#">
            Promjena
        </a>
        <a href="#">
            Razvoj priče
        </a>
    </section>
    <div class="col-12 container-fluid column">
        <div class="col-12 container-fluid row">
            <section class="col-md-4 col-xs-12">
                <div style="height: 250px; width: 100%; background-image: url('../images/elbaf.png');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2 class="offset-5 col-4">
                    Elbaf
                </h2>
                <p class="col-12">
                    Mjesto radnje najnovijeg poglavlja je otok divova Elbaf.
                </p>
                <h4 class="offset-8 col-4">
                    Novo poglavlje
                </h4>
                <a class="newnav">
                    Članak
                </a>
            </section>
            <section class="col-md-4 col-xs-12">
                <div style="height: 250px; width: 100%; background-image: url('../images/vegapunk.png');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2 class="offset-5 col-4">
                    Vegapunk
                </h2>
                <p class="col-12">
                    Genijalni znanstvenik Vegapunk se napokon pojavio.
                </p>
                <h4 class="offset-8 col-4">
                    Otkrivanje lika
                </h4>
                <a class="newnav">
                    Članak
                </a>
            </section>
            <section class="col-md-4 col-xs-12">
                <div style="height: 250px; width: 100%; background-image: url('../images/egghead.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2 class="offset-5 col-4">
                    Egghead
                </h2>
                <p class="col-12">
                    Mjesto radnje najnovijeg poglavlja je otok budućnosti Egghead.
                </p>
                <h4 class="offset-8 col-4">
                    Novo poglavlje
                </h4>
                <a class="newnav">
                    Članak
                </a>
            </section>
        </div>
        <div class="col-12 container-fluid row">
            <section class="col-md-4 col-xs-12">
                <div style="height: 250px; width: 100%; background-image: url('../images/yonnko.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2 class="offset-5 col-4">
                    4 vladara
                </h2>
                <p class="col-12">
                    U finalu Wano poglavlja objavljen popis nova 4 vladara mora.
                </p>
                <h4 class="offset-8 col-4">
                    Promjena
                </h4>
                <a class="newnav">
                    Članak
                </a>
            </section>
            <section class="col-md-4 col-xs-12">
                <div style="height: 250px; width: 100%; background-image: url('../images/nika.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2 class="offset-5 col-4">
                    Nika
                </h2>
                <p class="col-12">
                    U finalu Wano poglavlja otkriven identitet boga sunca Nike.
                </p>
                <h4 class="offset-8 col-4">
                    Otkrivanje lika
                </h4>
                <a class="newnav">
                    Članak
                </a>
            </section>
            <section class="col-md-4 col-xs-12">
                <div style="height: 250px; width: 100%; background-image: url('../images/wano.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2 class="offset-5 col-4">
                    Wano
                </h2>
                <p class="col-12">
                    Mjesto radnje najnovijeg poglavlja je izolirani otok Wano.
                </p>
                <h4 class="offset-8 col-4">
                    Novo poglavlje
                </h4>
                <a class="newnav">
                    Članak
                </a>
            </section>
        </div>
        <div class="col-12 container-fluid row">
            <section class="col-md-4 col-xs-12">
                <div style="height: 250px; width: 100%; background-image: url('../images/wholecake.png');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2 class="offset-5 col-4">
                    Bijeg od Linlin
                </h2>
                <p class="col-12">
                    Luffy i posada uspješno su pobjegli s Wholecake otoka kojim upravlja Chatlotte Linlin.
                </p>
                <h4 class="offset-8 col-4">
                    Razvoj priče
                </h4>
                <a class="newnav">
                    Članak
                </a>
            </section>
            <section class="col-md-4 col-xs-12">
                <div style="height: 250px; width: 100%; background-image: url('../images/snakeman.png');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2 class="offset-5 col-4">
                    Snakeman
                </h2>
                <p class="col-12">
                    Tijekom velike borbe Luffy otkriva novu borilačku vještinu.
                </p>
                <h4 class="offset-8 col-4">
                    Razvoj priče
                </h4>
                <a class="newnav">
                    Članak
                </a>
            </section>
            <section class="col-md-4 col-xs-12">
                <div style="height: 250px; width: 100%; background-image: url('../images/sanji.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2 class="offset-5 col-4">
                    Sanji u odijelu
                </h2>
                <p class="col-12">
                    Sanji dobiva novo odijelo u pripremi za svoje vjenčanje.
                </p>
                <h4 class="offset-8 col-4">
                    Razvoj priče
                </h4>
                <a class="newnav">
                    Članak
                </a>
            </section>
        </div>
    </div>
    <br>
    <footer id="sticker">
        <h3>
            Matej Miklin, 0246122414
        </h3>
    </footer>
</body>
</html>