<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="One Piece News">
    <meta name="keywords" content="One Piece, Luffy, Eiichiro Oda, Mangaka, Manga">
    <meta name="author" content="Matej Miklin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" media="screen" href="../pretty.css">
</head>
<body class="news" style="display: flex; flex-direction: column; justify-content: space-between; flex:1;">
    <header class="head" id="stick" style="display: flex; flex-direction: row; align-items: center;">
        <div id="banner" style="width: 15%;"></div>
        <div class="butts" style="margin-left: 0px; width: 85%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h1>
                One Piece Wiki
            </h1>
            <br>
            <div class="butts1" style="margin-left: 0px; display: flex; flex-direction: row; flex-wrap: wrap;
            align-items: center; justify-content: center; flex: 1;">
                <a href="../characters.html">
                    Main page
                </a>
                <a href="user-contact.html">
                    Contacts
                </a>
                <a href="about.html">
                    About
                </a>
                <a href="news.html">
                    News
                </a>
                <a href="store.html">
                    <abbr title="ovdje">
                        Store
                    </abbr>
                </a>
            </div>
        </div>
    </header>
    <br>
    <div class="store1" style="height: 250px; width: 100%; background-image: url('../images/zorobanner.jpeg');
    background-size: cover; background-repeat: no-repeat; border-radius: 20px;
    display: flex; align-items: center; justify-content: center;">
        <h1 style="font-size: 50px;">
            Posebna Zoro Rasprodaja!!!
        </h1>
    </div>
    <div class="store" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
        <section>
            <div style="height: 250px; width: 100%; background-image: url('../images/robin.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2>
                    Nico Robin
                </h2>
                <p>
                    Službeno licencirana PVC figura
                </p>
                <h4>
                    52€
                </h4>
                <a class="newnav">
                    Dodaj
                </a>
        </section>
        <section>
            <div style="height: 250px; width: 100%; background-image: url('../images/luffyf.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2>
                    Monkey D. Luffy
                </h2>
                <p>
                    PVC akcijska figura
                </p>
                <h4>
                    55€
                </h4>
                <a class="newnav">
                    Dodaj
                </a>
        </section>
        <section>
            <div style="height: 250px; width: 100%; background-image: url('../images/boxset.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2>
                    Box Set 1
                </h2>
                <p>
                    One Piece manga box set 1
                </p>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <h4 style="text-decoration: line-through;">
                        240€
                    </h4>
                    <h4>
                        150€
                    </h4>
                </div>
                <a class="newnav">
                    Dodaj
                </a>
        </section>
        <section>
            <div style="height: 250px; width: 100%; background-image: url('../images/zorof.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2>
                    Roronoa Zoro
                </h2>
                <p>
                    PVC figura Zoroa spremnog za borbu
                </p>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <h4 style="text-decoration: line-through;">
                        45€
                    </h4>
                    <h4>
                        38€
                    </h4>
                </div>
                <a class="newnav">
                    Dodaj
                </a>
        </section>
        <section>
            <div style="height: 250px; width: 100%; background-image: url('../images/sanjif.png');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2>
                    Sanji
                </h2>
                <p>
                    TBA figura Sanji-a u njegovoj prepoznatljivoj pozi
                </p>
                <h4>
                    55€
                </h4>
                <a class="newnav">
                    Dodaj
                </a>
        </section>
        <section>
            <div style="height: 250px; width: 100%; background-image: url('../images/hat.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2>
                    Šešir
                </h2>
                <p>
                    Replika Luffy-evog ikoničnog šešira
                </p>
                <h4>
                    20€
                </h4>
                <a class="newnav">
                    Dodaj
                </a>
        </section>
        <section>
            <div style="height: 250px; width: 100%; background-image: url('../images/merry.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2>
                    Going Merry
                </h2>
                <p>
                    LEGO set Luffy-evog broda Going Merry
                </p>
                <h4>
                    70€
                </h4>
                <a class="newnav">
                    Dodaj
                </a>
        </section>
        <section>
            <div style="height: 250px; width: 100%; background-image: url('../images/kaidof.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2>
                    Kaido
                </h2>
                <p>
                    ABS/PVC figura Kaida, kralja zvijeri
                </p>
                <h4>
                    250€
                </h4>
                <a class="newnav">
                    Dodaj
                </a>
        </section>
        <section>
            <div style="height: 250px; width: 100%; background-image: url('../images/law.jpg');
                background-size: cover; background-repeat: no-repeat; border-radius: 20px;"></div>
                <h2>
                    Trafalgar Law
                </h2>
                <p>
                    ABS/PVC figura Trafalgar Law-a (posebno izdanje)
                </p>
                <h4>
                    600€
                </h4>
                <a class="newnav">
                    Dodaj
                </a>
        </section>
    </div>
    <br>
    <footer id="sticker">
        <h3>
            Matej Miklin, 0246122414
        </h3>
    </footer>
</body>
</html>