<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="title" content="Contacts">
  <meta name="keywords" content="One Piece, Characters, Character">
  <meta name="author" content="Matej Miklin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One Piece Characters</title>
  <link rel="icon" type="image/png" th:href="@{/images/icon.png}">
  <link rel="stylesheet" media="screen"  th:href="@{/css/pretty.css}">
</head>
<body>
<header class="head">
  <div id="banner"></div>
  <div class="butts" id="butts">
    <h1 class="title">
      One Piece Wiki
    </h1>
    <br>
    <div class="butts1">
      <a href="user-main">
        Main page
      </a>
      <a href="user-contact">
        Contacts
      </a>
      <a href="user-about">
        About
      </a>
      <a href="user-characters">
        <abbr title="Ovdje">
          Characters
        </abbr>
      </a>
      <a href="user-fruits">
        Fruits
      </a>
      <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
      </form>
    </div>
  </div>
</header>
<nav id="odanav">
  <ul>
    <li>
      <div>
        <a th:if="${!fruitFilter}" href="/user-characters/with-fruits">
          Fruit users
        </a>
      </div>
    </li>
    <li>
      <div>
        <a th:if="${!noFruitFilter}" href="/user-characters/without-fruits">
          Non Fruit users
        </a>
      </div>
    </li>
    <li>
      <div>
        <a th:if="${fruitFilter or noFruitFilter}" href="/user-characters">
          Show all characters
        </a>
      </div>
    </li>
  </ul>
</nav>
<h1 style="text-align:center;">One Piece Characters</h1>

<section class="form_sec">
  <div class="form_bg"></div>
  <form class="contact-form" th:action="@{/user-characters/save}" method="post">
    <input type="hidden" name="searchName" th:value="${searchName}" />
    <table>
      <tr>
        <td>
          <div>
            <strong>
              <label>
                Name:
              </label>
            </strong>
          </div>
        </td>
        <td>
          <input type="text" name="name" id="name" required/>
        </td>
      </tr>
      <tr>
        <td>
          <input type="button" class="butt" value="Back to All Characters" th:onclick="'window.location.href=\'' + @{/user-characters} + '\''" />
        </td>
        <td>
          <input type="submit" class="butt" value="Search"/>
        </td>
      </tr>
    </table>
  </form>
</section>
<br>
  <table id="chars" class="chars" style="width: 70%;">
    <thead>
    <tr>
      <th>Name</th>
      <th>Chapter Introduced</th>
      <th>Episode Introduced</th>
      <th>Year Introduced</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="character : ${characterList}">
      <td th:text="${character.getName()}">1</td>
      <td th:text="${character.getChapterIntroduced()}">Monkey D. Luffy</td>
      <td th:text="${character.getEpisodeIntroduced()}">Gomu Gomu no Mi</td>
      <td th:text="${character.getYearIntroduced()}">Captain</td>
      <td th:text="${character.getNote()}">Captain</td>
    </tr>
    </tbody>
  </table>

<footer>
  <h3>
    Matej Miklin, 0246122414
  </h3>
</footer>
</body>
</html>
