<!DOCTYPE html>
<html lang="en-US" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="title" content="About The Author">
  <meta name="keywords" content="One Piece, Luffy, Eiichiro Oda, Mangaka, Manga">
  <meta name="author" content="Matej Miklin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About the author</title>
  <link rel="icon" type="image/png" th:href="@{/images/icon.png}">
  <link rel="stylesheet" media="screen"  th:href="@{/css/pretty.css}">
</head>
<body class="main">
<div id="main">
  <header class="head" id="stick">
    <div id="banner"></div>
    <div class="butts" id="butts">
      <h1 class="title">
        One Piece Wiki
      </h1>
      <br>
      <div class="butts1">
        <a href="user-main.html">
          Main page
        </a>
        <a href="user-contact.html">
          <abbr title="ovdje">
            Contacts
          </abbr>
        </a>
        <a href="admin-about.html">
          About
        </a>
        <a href="news.html">
          News
        </a>
        <a href="store.html">
          Store
        </a>
      </div>
    </div>
  </header>
  <br>
  <nav id="odanav">
    <ul>
      <li>
        <div>
          <a href="#main">
            Slika
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#oda1">
            Rani život
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#early">
            Prije
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#before">
            Osobno
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#personal">
            Nagrade
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#awards"> <!--Linkovi su ovako jer se header prikazuje "preko određenih stvari"-->
            Zaključak
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <article>
    <section id="oda1" class="about">
      <div id="oda"></div>
      <h2>
        Eiichiro Oda
      </h2>
    </section>
    <section class="about" style="display: flex; flex-direction: column; align-items: center;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pJXN6MhF3js?si=uGHwf9uuCp5SDplx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <h2>
        Oda najavljuje drugu sezonu Netflix-ove prilagodbe
      </h2>
    </section>
    <section id="early" class="about">
      <h2>
        Rani život
      </h2>
      <p>
        Eiichiro Oda rođen je u gradu Kumamoto u Japanu, 1. 1. 1975. U mladosti je često gledao <q>Vicky the Viking</q>,
        zbog čega je razvio interes za gusare. S 4 godine je odlučio kako želi postati <abbr title="osoba koja crta mangu">mangaka</abbr>
        kako se ne bi morao <q>stvarno zaposliti</q>. Najveći utjecaj na njega je ostavio Akira Toriyama, autor
        Dragon Ball-a.
      </p>
    </section>
    <section id="before" class="about">
      <h2>
        Karijera prije One Piece-a
      </h2>
      <p>
        Sa samo 17 godina, osvojio je svoju prvu nagradu za svoje djelo <q>Wanted!</q>, zbog čega je dobio priliku
        zaposliti se kao asistent u <q>Weekly Shōnen Jump</q> časopisu. Nakon toga provodi dosta vremena kao
        asistent nekoliko uspješnih autora.
      </p>
    </section>
    <section id="personal" class="about">
      <h2>
        Osobni život
      </h2>
      <p>
        Tijekom <q>Jump Festa 2002</q> događaja, Chiaki Inaba je bila jedna od glumica u scenskom prikazu One
        Piece-a i upoznala je Odu. 2004. godine Oda i Inaba su se vjenčali, nakon čega su imali dvoje djece. Prva
        kći rodila se 2006. godine, a druga 2009. Nakon rođenja prve kćeri kupio je vilu u južnom dijelu Tokya.
        Iako ima obitelj, zbog svojeg <abbr title="u prosječnom danu spava svega 3 sata">radnog rasporeda</abbr> ne živi s njima, već ih samo posjećuje jednom tjedno.
      </p>
    </section>
    <section id="awards" class="about">
      <h2>
        Nagrade koje je osvojio za One Piece (popis prema ažurnom članku Wikipedije)
      </h2>
      <ul>
        <li>
          2000: Tezuka Osamu Cultural Prize finalist
        </li>
        <li>
          2001: Tezuka Osamu Cultural Prize finalist
        </li>
        <li>
          2002: Tezuka Osamu Cultural Prize finalist
        </li>
        <li>
          2005: Sondermann Award in the International Manga category
        </li>
        <li>
          2006: Japanese Media Arts Festival 100 Manga Selection
        </li>
        <li>
          2008: Sondermann Award in the International Manga category
        </li>
        <li>
          2009: Sondermann Award in the International Manga category
        </li>
        <li>
          2012: Received Grand Prize at 41st Japan Cartoonists Association Award
        </li>
        <li>
          2015: Guinness World Record for "the most copies published for the same comic book series by a
          single author" with 320,866,000 copies printed worldwide up until December 2014.
        </li>
        <li>
          2018: Kumamoto Prefecture Honorary Prize
        </li>
        <li>
          2019: Most Searched Author at The Yahoo! Japan Search Awards
        </li>
        <li>
          2019: Included in the list of Newsweek Japan's "100 Globally respected Japanese people
        </li>
        <li>
          2022: Special Lifetime Achievement Award at Napoli Comicon 2022
        </li>
        <li>
          2022: Guinness World Record for "the most copies published for the same comic book series by a
          single author" with 516,566,000 copies in printed worldwide up until July 2022
        </li>
        <li>
          2023: 18th Shin Watanabe Award, an award for a producer or creator who has created a major
          movement in the entertainment business and made a significant contribution to the development
          of popular entertainment culture
        </li>
      </ul>
    </section>
    <section id="conclusion" class="about">
      <h2>
        Zaključno
      </h2>
      <p>
        Eiichiro Oda stvorio je priču koja je oblikovala dio popularne kulture i utjecala na velik broj ljudi.
        Sa sigurnošću se može reći da je njegov rad oblikovao nekoliko generacija, i ne pokazuje znakove usporavanja.
      </p>
    </section>
  </article>
  <footer id="sticker">
    <h3>
      Matej Miklin, 0246122414
    </h3>
  </footer>
</div>
</body>
</html>